@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800&display=swap");

* {
	font-family: "Nunito", sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	/* Sidebar  */
	.sidebar .title {
		@apply text-[10px] font-bold text-[#999] mt-[15px] mb-[5px];
	}
	.sidebar li {
		@apply flex justify-start  items-center gap-3 p-[5px] cursor-pointer hover:bg-[#ece8ff];
	}
	.sidebar span {
		@apply text-[14px] font-[600] text-[#888];
	}
	.colorOption {
		@apply w-[20px] h-[20px] rounded-full border-[1px] border-[#7451f8] cursor-pointer;
	}
	.sidebar .icon {
		@apply text-[#7451f8] text-[18px];
	}

	/* navbar */
	.navbar .icon {
		@apply text-[20px] cursor-pointer;
	}
	.navbar .counter {
		@apply text-[10px] font-bold text-[#fff] bg-[#ff0000] rounded-full w-[15px] h-[15px] flex justify-center items-center absolute top-[-5px] right-[-5px];
	}
	/* widgets */
	.widgets .positive {
		@apply text-[green];
	}
	.widgets .negative {
		@apply text-[red];
	}
	.widgets .icon {
		@apply text-[28px]  rounded-[5px] p-[5px] self-end;
	}
	/* featured */
	.featured .icon {
		@apply text-[18px];
	}

	.featured .item {
		@apply text-center;
	}
	.featured .itemTitle {
		@apply text-[14px] text-[gray];
	}
	.featured .itemResult {
		@apply flex items-center mt-2 text-[14px];
	}
	.featured .positive {
		@apply text-[green];
	}
	.featured .negative {
		@apply text-[red];
	}

	/* table */
	.table .Approved {
		@apply text-[green] bg-[rgba(0,128,0,0.151)];
	}
	.table .Pending {
		@apply text-[goldenrod] bg-[rgba(189,189,3,0.103)];
	}
	/* Data table */
	.dataTable .active {
		@apply text-[green] bg-[rgba(0,128,0,0.151)];
	}
	.dataTable .pending {
		@apply text-[goldenrod] bg-[rgba(189,189,3,0.151)];
	}
	.dataTable .passive {
		@apply text-[crimson] bg-[rgba(255,0,0,0.151)];
	}

	/* Single Detail */
	.itemTitle {
		@apply text-[24px] text-[#555] mb-2.5 font-[700];
	}
	.itemDetails {
		@apply mb-2.5 text-[14px] text-[#888] font-[500];
	}
	.itemKey {
		@apply font-[700] text-[gray] mr-1;
	}
	.itemValue {
		@apply font-[400];
	}

	/* form */
	.formInput {
		@apply col-span-1;
	}
	.form input {
		@apply w-full px-2 py-1  outline-none border-b-[1px] border-[lightgray];
	}
}
